/*------------------------------------------------------------------------------
> soCalendar
------------------------------------------------------------------------------*/

.socalendar {
  --socalendar-bg-color: #fff;
  --socalendar-border-radius: 20px;
  --socalendar-primary-color: #099ba4;
  --socalendar-primary-dark: #0c8086;
  --socalendar-primary-color-light: #E7F8F7;
  --socalendar-primary-color-hover: #CEF0EF;
  --socalendar-secondary-color: #495057;
  --socalendar-white-color: #fff;
  --socalendar-dark-color: #161616;
  --socalendar-gray-color: #999;
  --socalendar-silver-color: #e4e7e7;
  --socalendar-backdrop: rgba(9, 155, 164, 0.25);
  
  background: var(--socalendar-bg-color);
  border-radius: var(--socalendar-border-radius);
  border: 0;
  box-shadow: 0 1em 5em rgba(0, 0, 0, 0.25);
  display: block;
  min-height: 440px;
  padding: 25px;
  position: fixed;
  transform: translate3d(0, 0, 0) scale(0.2);
  transition: all 0.15s ease-out;
  visibility: hidden;
  z-index: 1001;
  
  &::backdrop {
    background: var(--socalendar-backdrop);
    transition: all 0.5s ease;
    
    @starting-style {
      background: rgba(0, 0, 0, 0);
    }
  }

  .socalendar-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0.5);
    transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  // When it's open
  &[open] {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0) scale(1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    
    .socalendar-inner {
      opacity: 1;
      transform: translate3d(0, 0, 0)  scale(1);
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.15s;
    }
  }
  
  // Utility classes
  &.socalendar-visible {
    display: block;
  }
  
  .socalendar-hidden {
    display: none !important;
  }
  
  .socalendar-visually-hidden {
    border: 0;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .socalendar-row {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }
  
  .socalendar-label-prev,
  .socalendar-label-next {
    align-items: center;
    display: flex;
    height: 32px;
    width: 64px;
  }
  
  .socalendar-label-next {
    justify-content: flex-end;
  }

  button {
    background: none;
    border: 0;
    color: var(--socalendar-gray-color);
    cursor: pointer;
    line-height: 1;
    margin: 0;
    opacity: 1;
    padding: 0;
    transition: all 0.15s ease;
    will-change: color, opacity;
    
    &[disabled] {
      opacity: 0.33 !important;
      cursor: not-allowed !important;
    }
    
    &:not([disabled]):hover {
      color: var(--socalendar-secondary-color);
    }
    
    &.socalendar-cancel,
    &.socalendar-confirm,
    &.socalendar-prev-year,
    &.socalendar-prev-month,
    &.socalendar-back {
      opacity: 1;
      transition: 0.15s ease 0.15s;
      
      @starting-style {
        opacity: 0;
        transform: translateX(5px);
      }
    }

    &.socalendar-today {
      opacity: 1;
      transition: 0.15s ease 0.15s;
      
      @starting-style {
        opacity: 0;
      }
    }

    
    &.socalendar-next-year,
    &.socalendar-next-month,
    &.socalendar-edit {
      opacity: 1;
      transition: 0.15s ease 0.15s;
      
      // @starting-style {
      //   opacity: 0;
      //   transform: translateX(-5px);
      // }
    }
    
    &.socalendar-input-button {
      // border-radius: 0 6px 6px 0 !important;
      // border-left: 1px solid var(--socalendar-gray-color);
      padding: 5px 10px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &.socalendar-button-label {
      height: 1.7em;
      overflow: hidden;
      position: relative;
      width: 50%;

      &:hover {
        color: var(--socalendar-dark-color);
      }
      
      // Create shadow to make transition smooth
      &::before {
        content: "";
        position: absolute;
        box-shadow: 0 6px 6px -4px var(--socalendar-bg-color) inset, 
        0 -6px 6px -4px var(--socalendar-bg-color) inset;
        inset: 0;
        z-index: 1;
      }

      span {
        display: flex;
        flex-flow: column nowrap;
        height: 1.7em;
        justify-content: center;
        line-height: 1.7em;
        transform: translate3d(0, 0, 0);
        transition: all 0.15s ease;
        
        &:before,
        &:after {
          height: 1.7em;
        }
        
        &:before {
          content: attr(data-before);
        }
        
        &:after {
          content: attr(data-after);
        }
      }

      &.next span {
        transform: translate3d(0, -1.7em, 0);
      }
      
      &.prev span {
        transform: translate3d(0, 1.7em, 0);
      }
    }

    &.socalendar-label-month {
      color: var(--socalendar-dark-color);
      text-align: right;
    }

    &.socalendar-label-year {
      text-align: left;
    }

  }

  &[data-socalendar-view="month"] {
    button.socalendar-label-month {
      color: var(--socalendar-primary-color);
      text-decoration: underline;
    }
    button.socalendar-label-year {
      color: var(--socalendar-gray-color);
      opacity: 0.5;
    }
  }

  &[data-socalendar-view="year"] {
    button.socalendar-label-month {
      color: var(--socalendar-gray-color);
      opacity: 0.5;
    }
    button.socalendar-label-year {
      color: var(--socalendar-primary-color);
      text-decoration: underline;
    }
  }

  .socalendar-label {
    align-items: center;
    color: var(--socalendar-secondary-color);
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    font-size: 22px;
    gap: 5px;
    justify-content: center;
    justify-self: stretch;
    
    button {
      color: inherit;
      font-size: 22px;
      font-weight: 400;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
  }
  
  .socalendar-content-wrapper {
    max-width: 350px;
    overflow: hidden;
  }
  
  .socalendar-content-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transform: translate3d(100%, 0, 0);
    will-change: transform;

		&.prev,
		&.next {
			transition: transform 0.15s ease;
		}

		&.prev {
			transform: translate3d(200%, 0, 0);
		}

		&.next {
			transform: translate3d(0%, 0, 0);
		}
  }
  
  .socalendar-content {
    align-items: flex-start;
    display: flex;
    flex: 0 0 100%;
    transform: translate3d(-100%, 0, 0);
    width: 350px;
    
    table {
      border: 0;
      margin: 0;			
      th {
        color: var(--socalendar-gray-color);
        font-weight: normal;
        font-size: 12px;;
        padding: 0.5em 0.33em;
      }
      
      th abbr {
        text-decoration: none;
      }
      
      td {
        text-align: center;
        border: 1px solid var(--socalendar-white-color);
      }
    }
    
    .socalendar-year-picker-container {
      width: 100%;
    }

    .socalendar-month-picker,
    .socalendar-year-picker {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      gap: 4px;
      width: 100%;
      
      li {
        flex: 0 0 calc(33.333% - 4px);
        margin: 0;
        padding: 0;
        
        button {
          height: 92px;
          line-height: 92px;
          width: 100%;
        }
      }
    }

    // Create cascading transition delays for month and year pickers
    .socalendar-month-picker {
      li {
        button {
          transition: 0.25s;
          opacity: 1;
          
          @starting-style {
            opacity: 0;
          }
        }
        &:nth-child(2n) button,
        &:nth-child(4n) button {
          transition-delay: 0.03s;
        }

        &:nth-child(3n) button,
        &:nth-child(5n) button,
        &:nth-child(7n) button {
          transition-delay: 0.07s;
        }

        &:nth-child(6n) button,
        &:nth-child(8n) button,
        &:nth-child(10n) button {
          transition-delay: 0.11s;
        }

        &:nth-child(9n) button,
        &:nth-child(11n) button {
          transition-delay: 0.14s;
        }

        &:nth-child(12n) button {
          transition-delay: 0.17s;
        }
      }
    }
    
    .socalendar-year-picker {
      li {
        flex: 0 0 calc(50% - 2px);
        
        button {
          height: 60px;
          line-height: 60px;
        }

        // &:nth-child(2n) button,
        // &:nth-child(3n) button {
        //   transition-delay: 0.03s;
        // }

        // &:nth-child(4n) button,
        // &:nth-child(5n) button {
        //   transition-delay: 0.06s;
        // }

        // &:nth-child(6n) button,
        // &:nth-child(7n) button {
        //   transition-delay: 0.1s;
        // }

        // &:nth-child(8n) button,
        // &:nth-child(9n) button {
        //   transition-delay: 0.13s;
        // }

        // &:nth-child(10n) button {
        //   transition-delay: 0.16s;
        // }
      }
    }

    .socalendar-date-editor,
    .socalendar-year-picker-scroller {
      border-radius: 6px;
      border: 1px solid var(--socalendar-gray-color);
      margin-bottom: 10px;
      flex: 0 1 100%;
      
      .socalendar-year-picker-label {
        font-size: 20px;
        display: flex;
        gap: 5px;
        align-items: center;
        
        .year-value {
          overflow: hidden;
          display: inline-block;
          width: 4ch;

        }

        .separator {
          color: var(--socalendar-gray-color);
          font-weight: 200;

          svg {
            vertical-align: middle;
          }
        }
      }
    }

    .socalendar-year-picker-scroller {
      padding: 10px;
    } 

    .socalendar-year-picker-wrapper {
      overflow: hidden;
      max-height: 316px;
      width: 100%;

      .socalendar-year-picker-inner {
        display: flex;
        flex-flow: column nowrap;
        transform: translate3d(0, -33.333%, 0);
        will-change: transform;

        &.prev,
        &.next {
          transition: transform 0.15s ease;
        }

        &.prev {
          transform: translate3d(0, 0, 0);
        }

        &.next {
          transform: translate3d(0, -66.666%, 0);
        }
      }
    }

    
    .socalendar-date-editor {
      display: flex;
      justify-content: center;
      overflow: hidden;
      position: relative;

      // &::before {
      //   content: "__/__/____";
      //   color: var(--socalendar-gray-color);
      //   position: absolute;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   opacity: 0.5;
      //   pointer-events: none;
      // }
    }
    
    .socalendar-date-editor:before,
    .socalendar-input {
      background: transparent;
      border-radius: 6px;
      border: 0;
      caret-color: var(--socalendar-primary-color);
      font-size: 20px;
      font-variant-numeric: tabular-nums;
      // font-family: "Geist Mono";
      outline: 0 !important;
      padding: 10px;
      width: 10ch;
      &:focus {
        box-shadow: 0 0 0 2px var(--socalendar-primary-color-hover);
      }
    }

    .socalendar-input {
      -webkit-appearance: none;
      appearance: none;
      position: relative;
      z-index: 1;
      text-shadow: 0 2px white, 2px 0 white, 2px 2px white;
    }
  
    button.socalendar-button {
      box-sizing: border-box;
      background: var(--socalendar-primary-color-light);
      border-radius: 0.33em;
      color: var(--socalendar-primary-color);
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 400;
      transition: background 0.1s ease;
      will-change: background;
      
      &:not([disabled]):hover {
        background: var(--socalendar-primary-color-hover);
        color: var(--socalendar-primary-color)
      }
    }
    
    table.socalendar-date-picker {
      button {
        height: 3em;
        line-height: 3;
        position: relative;
        width: 3em;

        &[disabled] {
          background: var(--socalendar-silver-color);
          color: var(--socalendar-dark-color);
          font-weight: 300;
          position: relative;

          &::before {
            background: var(--socalendar-dark-color);
            content: "";
            height: 1px;
            left: 15%;
            position: absolute;
            top: 50%;
            transform: rotate(-45deg);
            opacity: 0.5;
            width: 70%;
          }
        }

        &.is-today {
          background: var(--socalendar-white-color);
          box-shadow: 0 0 0 1px var(--socalendar-primary-color) inset;
          line-height: 2.9;
        }
        
        &.is-outside-month {
          background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 1px, #fff 1px, #fff 5px);
          color: #aaa;
          font-weight: 300;
        }
        
        &.is-current {
          background: var(--socalendar-primary-color);
          color: var(--socalendar-white-color);

          &.is-start {
            border-radius: 6px 0 0 6px;
          }

          &.is-in-range {
            border-radius: 0;
            box-shadow: 2px 0 0 var(--socalendar-primary-color), -2px 0 0 var(--socalendar-primary-color);
          }

          &.is-end {
            border-radius: 0 6px 6px 0;
          }

          &:hover {
            background: var(--socalendar-primary-dark);
            color: var(--socalendar-white-color);
          }
        }

        &.is-min-date:after,
        &.is-max-date:after {
          content: "";
          position: absolute;
          top: 30%;
          width: 2px;
          background: var(--socalendar-primary-color);
          height: 40%;
        }

        &.is-min-date:after {
          left: 1px;
        }

        &.is-max-date:after {
          right: 1px;
        }
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .socalendar, 
  .socalendar-inner {
    transition: none;
  }
}