/*------------------------------------------------------------------------------
> soCalendar
------------------------------------------------------------------------------*/

.socalendar-target::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.socalendar-target[type="date"] {
  /* appearance controls styling */
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.socalendar {
  --socalendar-bg-color: #fff;
  --socalendar-border-radius: 20px;
  --socalendar-primary-color: #099ba4;
  --socalendar-primary-color-light: #E7F8F7;
  --socalendar-primary-color-hover: #CEF0EF;
  --socalendar-secondary-color: #495057;
  --socalendar-white-color: #fff;
  --socalendar-dark-color: #161616;
  --socalendar-gray-color: #999;
  --socalendar-backdrop: rgba(9, 155, 164, 0.25);
  
  background: var(--socalendar-bg-color);
  border-radius: var(--socalendar-border-radius);
  border: 0;
  box-shadow: 0 1em 5em rgba(0, 0, 0, 0.25);
  display: block;
  left: 50%;
  min-height: 440px;
  padding: 25px;
  position: fixed;
  top: 50%;
  transform-origin: 0 0;
  transform: scale(0.2) translate3d(-50%, -50%, 0);
  transition: all 0.15s ease-out;
  visibility: hidden;
  z-index: 1001;
  
  &::backdrop {
    background: var(--socalendar-backdrop);
    transition: all 0.5s ease;
    
    @starting-style {
      background: rgba(0, 0, 0, 0);
    }
  }

  .socalendar-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  // When it's open
  &[open] {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translate3d(-50%, -50%, 0);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    
    .socalendar-inner {
      opacity: 1;
      transform: scale(1);
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.15s;
    }
  }
  
  
  // Utility classes
  &.socalendar-visible {
    display: block;
  }
  
  .socalendar-hidden {
    display: none !important;
  }
  
  .socalendar-visually-hidden {
    border: 0;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .socalendar-year-picker-scroller,
  .socalendar-header,
  .socalendar-footer {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    
    .socalendar-label-prev,
    .socalendar-label-next {
      align-items: center;
      display: flex;
      height: 32px;
      width: 64px;
    }
    
    button {
      background: none;
      border: 0;
      color: var(--socalendar-gray-color);
      cursor: pointer;
      line-height: 1;
      margin: 0;
      opacity: 1;
      padding: 0;
      transition: color 0.15s ease;
      will-change: color;
      
      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }
      
      &:not([disabled]):hover {
        color: var(--socalendar-secondary-color);
      }
      
      &.socalendar-back {
        opacity: 1;
        transition: 0.15s ease 0.15s;
        
        @starting-style {
          opacity: 0;
          transform: translateX(5px);
        }
      }
      
      &.socalendar-button-label {
        height: 1.7em;
        overflow: hidden;
        position: relative;
        width: 50%;
        
        &#soCalendar-label-month {
          color: var(--socalendar-dark-color);
          text-align: right;
        }
        
        &#soCalendar-label-year {
          text-align: left;
        }
        
        &::before {
          content: "";
          position: absolute;
          box-shadow: 0 6px 6px -4px var(--socalendar-bg-color) inset, 
          0 -6px 6px -4px var(--socalendar-bg-color) inset;
          inset: 0;
          z-index: 1;
        }
        
        span {
          display: flex;
          flex-flow: column nowrap;
          height: 1.7em;
          justify-content: center;
          line-height: 1.7em;
          transform: translate3d(0, 0, 0);
          transition: all 0.15s ease;
          
          &:before,
          &:after {
            height: 1.7em;
          }
          
          &:before {
            content: attr(data-before);
          }
          
          &:after {
            content: attr(data-after);
          }
        }
        
        &.next span {
          transform: translate3d(0, -1.7em, 0);
        }
        
        &.prev span {
          transform: translate3d(0, 1.7em, 0);
        }
      }
    }
  }
  
  .socalendar-label {
    align-items: center;
    color: var(--socalendar-secondary-color);
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    font-size: 22px;
    gap: 5px;
    justify-content: center;
    justify-self: stretch;
    
    button {
      color: inherit;
      font-size: 22px;
      font-weight: 400;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
  }
  
  .socalendar-content-wrapper {
    max-width: 350px;
    overflow: visible;
  }
  
  .socalendar-content-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
  
  .socalendar-content {
    display: flex;
    flex: 0 0 100%;
    transition: none;
    width: 350px;
    
    table {
      border: 0;
      margin: 0;			
      th {
        color: var(--socalendar-gray-color);
        font-weight: normal;
        font-size: 12px;;
        padding: 0.5em 0.33em;
      }
      
      th abbr {
        text-decoration: none;
      }
      
      td {
        text-align: center;
        border: 1px solid var(--socalendar-white-color);
      }
    }
    
    .socalendar-month-picker,
    .socalendar-year-picker {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      gap: 4px;
      width: 100%;
      
      li {
        flex: 0 0 calc(33.333% - 4px);
        margin: 0;
        padding: 0;
        
        button {
          height: 92px;
          line-height: 92px;
          width: 100%;
          opacity: 1;
          transition: 0.35s;
          
          @starting-style {
            opacity: 0;
          }
        }
        
        
        &:nth-child(n + 4):nth-child(-n + 6) button {
          transition-delay: 0.1s;
        }
        
        &:nth-child(n + 7):nth-child(-n + 9) button {
          transition-delay: 0.2s;
        }
        
        &:nth-child(n + 10):nth-child(-n + 12) button {
          transition-delay: 0.3s;
        }
      }
    }
    
    .socalendar-year-picker {
      li {
        flex: 0 0 calc(50% - 4px);
        
        button {
          height: 60px;
          line-height: 60px;
        }
        
        &:nth-child(n + 3):nth-child(-n + 4) button {
          transition-delay: 0.1s;
        }
        
        &:nth-child(n + 5):nth-child(-n + 6) button {
          transition-delay: 0.2s;
        }
        
        &:nth-child(n + 7):nth-child(-n + 8) button {
          transition-delay: 0.3s;
        }
        
        &:nth-child(n + 9):nth-child(-n + 10) button {
          transition-delay: 0.4s;
        }
        
      }
    }
    
    .socalendar-year-picker-scroller {
      border-radius: 6px;
      padding: 10px;
      border: 1px solid var(--socalendar-gray-color);
      margin-bottom: 10px;
      flex: 0 1 100%;
      width: 100%;
      
      .socalendar-year-picker-label {
        font-size: 20px;
      }
    }
    
    button.socalendar-button {
      box-sizing: border-box;
      background: var(--socalendar-primary-color-light);
      border: 0;
      border-radius: 0.33em;
      color: var(--socalendar-primary-color);
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 400;
      transition: background 0.1s ease;
      will-change: background;
      
      &:not([disabled]):hover {
        background: var(--socalendar-primary-color-hover);
      }
    }
    
    table.socalendar-date-picker {
      button {
        height: 3em;
        line-height: 3;
        width: 3em;
      }
    }
    
    button[disabled] {
      background: #eee;
      color: #999;
      cursor: not-allowed;
      font-weight: normal;
    }
    
    button.isCurrent {
      background: var(--socalendar-white-color);
      border: 1px solid var(--socalendar-primary-color);
      line-height: 2.9;
    }
    
    button.outsideMonth {
      background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 1px, #fff 1px, #fff 5px);
      color: #aaa;
      font-weight: 300;
    }
    
    button.selected {
      background: var(--socalendar-primary-color);
      color: var(--socalendar-white-color);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .socalendar, 
  .socalendar-inner {
    transition: none;
  }
}